@import "../../lib/colors";

.container {
  width: 100%;
  display: inline-block;
  margin-bottom: 40px;

  .wrapper {
    width: 50%;
    margin: 0 auto;
    h1 {
      font-weight: bold;
      font-size: 60px;
      line-height: 72px;
    }

    h2 {
      font-weight: bold;
      font-size: 36px;
      line-height: 72px;
    }

    p {
      width: 100%;
      font-size: 16px;
      line-height: 34px;
    }
  }
}
