@import "../../lib/colors";

.earnMoneySection {
  scroll-behaviour: smooth;
  margin-top: 200px;
  height: 300vh;
  background-color: rgba(233, 235, 241, 0.32);
  display: block;
  padding: 0 50px;
  padding-bottom: 226px;
  position: relative;

  .mainFixedBox {
    position: sticky;
    top: 20px;
    margin: auto;
    max-width: 1468.16px;
    max-height: 811.25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .topTextBox {
      text-align: center;

      h2 {
        font-weight: bold;
        font-size: 60px;
        line-height: 120%;
        color: $carnation-color;
        margin: 0;
      }

      p {
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        margin: 0;
      }
    }

    .infoTextMainBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
      margin-top: 20px;

      .infoTextBox {
        .InfoText {
          max-width: 695px;
          margin-bottom: 60px;
          h3 {
            cursor: default;
            transition: all 0.2s ease-in-out;
            font-weight: bold;
            font-size: 58px;
            line-height: 60px;
            margin: 0;
            color: $pale-slate-color;
          }

          p {
            cursor: default;
            display: none;
          }
        }

        .infoTextActive {
          transition: all 0.5s ease-in-out;
          h3 {
            color: #000;
            margin-bottom: 25px;
          }

          p {
            display: block;
            font-weight: normal;
            font-size: 28px;
            line-height: 42px;
            max-width: 600px;
            margin: 0;

            span {
              font-weight: bold;
              color: $carnation-color;
            }
          }
        }

        .getEarlyAccess {
          position: relative;

          .spanCls {
            font-weight: 600;
            font-size: 24.5375px;
            line-height: 29px;
            color: $pale-slate-color;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 100;
            transition: all 0.2s ease-in-out;
            z-index: 2;
            cursor: default;
          }

          // button {
          //   cursor: pointer;
          //   border: none;
          //   border-radius: 33.3333px;
          //   background-color: $blue-ribbon-color;
          //   font-weight: bold;
          //   font-size: 13.5227px;
          //   line-height: 22px;
          //   color: #fff;
          //   padding: 14px 27px;

          //   & {
          //     overflow: hidden;
          //     color: #fff;
          //     // background-color: $turbo-color;
          //     -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

          //     &:hover {
          //       color: $blue-ribbon-color;
          //       background-color: $turbo-color;
          //     }

          //     &::before {
          //       position: absolute;
          //       top: -4px;
          //       content: "";
          //       color: #fff;
          //       // background-color: $carnation-color;
          //       width: 113%;
          //       height: 110%;
          //       left: -10%;
          //       transform: skew(30deg);
          //       transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
          //     }

          //     &:hover::before {
          //       transform: translate3d(100%, 0, 0);
          //     }
          //   }
          // }
        }
      }

      .infoImgBox {
        max-width: 779.16px;
        max-height: 544.25px;
        height: 100%;
        display: inline-flex;

        img {
          // width: 100%;
          height: 90%;
          margin: 0 auto;
        }

        .fadeIn {
          animation: fade-in 0.5s ease-in-out;
        }

        // .unActive {
        //   position: absolute;
        //   opacity: 0;
        //   z-index: 1;
        //   transition: all 0.5s ease-in-out;
        // }
      }

      .scrollController {
        max-height: 450px;
        height: 100%;
        position: absolute;
        max-width: 43px;
        width: 100%;
        right: -2%;

        .scrollBar {
          height: 33%;
          width: 13px;
          // background-color: ;
          margin: 0 auto;

          &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }

          &:nth-child(3) {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }

        .scrollProgressBar {
          // transition: all 0.1s ease-in-out;
          transition: all 0.5s linear;
          position: absolute;
          top: 0;
          width: 13px;
          // background-color: $carnation-color;
          min-height: 0%;
          max-height: 100%;
          left: 0;
          right: 0;
          margin: 0 auto;
          border-radius: 5px;

          span {
            position: absolute;
            bottom: -13px;
            left: -7px;
            background-color: $carnation-color;
            border-radius: 99999px;
            height: 20px;
            width: 20px;
            border: 4.2px solid #ffffff;
          }
        }
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-width: 1601px) {
  .earnMoneySection {
    .mainFixedBox {
      justify-content: unset;
      .infoTextMainBox {
        .infoTextBox {
          .InfoText {
            width: 90%;
            h3 {
              font-size: 50.3529px;
            }
          }

          .infoTextActive {
            h3 {
              color: #000;
            }

            p {
              font-size: 24px;
            }
          }

          .getEarlyAccess {
            button {
              padding: 20px 32px;
              font-size: 20px;
            }
          }
        }

        .infoImgBox {
          width: 50%;

          img {
            height: 75%;
            margin: auto;
          }
        }

        .scrollController {
          right: -2%;
        }
      }
    }
  }
}

@media (max-width: 1025px) {
  .earnMoneySection {
    padding-top: 38px;
    padding-bottom: 117px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .headerTextTabMob {
      text-align: center;
      margin-bottom: 100px;

      h2 {
        font-weight: bold;
        font-size: 54px;
        line-height: 120%;
        color: $blue-ribbon-color;
        margin: 0;
        margin-bottom: 10px;
      }

      p {
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        margin: 0;
      }
    }

    .sections {
      padding-top: 38px;
      padding-bottom: 110px;
      h3 {
        margin: 0;
        font-weight: bold;
        font-size: 52px;
        line-height: 70px;
        margin-bottom: 18px;
      }

      p {
        margin: 0;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 42px;

        span {
          font-weight: bold;
        }
      }

      img {
        display: block;
        margin: 0 auto;
        width: 100%;
      }

      button {
        background-color: $blue-ribbon-color;
        border: none;
        border-radius: 38px;
        width: 100%;
        margin-top: 122px;
        padding: 20px 32px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
      }
    }
  }
}

@media (max-width: 760px) {
  .earnMoneySection {
    .headerTextTabMob {
      margin-bottom: 50px;

      h2 {
        font-weight: bold;
        font-size: 32px;
        line-height: 120%;
      }

      p {
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
      }
    }

    .sections {
      padding-top: 38px;
      padding-bottom: 110px;
      h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
      }

      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
      }

      button {
        background-color: $blue-ribbon-color;
        border: none;
        border-radius: 38px;
        width: 100%;
        margin-top: 122px;
        padding: 20px 32px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
      }
    }
  }
}
