@import "./lib/fonts", "./lib/colors";

html {
  scroll-behaviour: smooth;
  overflow-x: hidden;

  body {
    margin: 0;
    // overflow-x: hidden;
    font-family: AvenirNextLTPro, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    //width: 100%;
    background-color: #fdfaf8;
    margin-top: 56px;
    height: 100%;

    #root {
      width: 100%;
    }

    button {
      position: relative;
      //display: inline-block;

      span {
        position: relative;
        z-index: 2;
      }

      &::before,
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
